<div class="emotion">
  <%= @emotion.emotion_name %>
</div>

<div class='create-corgi'>
  <%= link_to '(Add a corgi to the corgum)', new_corgi_path(@emotion) %>
</div>

<% @emotion.corgis.each do |corgi| %>
  <div class='corgi'>
    <div class='picture'>
      <%= image_tag corgi.img_url, alt: "A #{@emotion.emotion_name} corgi" %>
    </div>
    <div class='quote'>
      <%= corgi.quote %>
    </div>
    <p class='comments'>
      <%= corgi.comments.last.try :text %>
      <%= link_to "(Read more comments)", corgi_path(corgi) %>
    </p>
  </div>
<% end %>
