<div class='picture corgi'>
  <%= image_tag 'http://i.imgur.com/KeqATyP.jpg', alt: "The noble corgi" %>
</div>

<div class='form'>
  <%= form_for [@emotion, @corgi] do |f| %>
    <div class='form-element'>
      <div>
        <%= f.label 'Image URL' %>
      </div>
      <%= f.text_field :img_url, :required => true %>
    </div>

    <div class='form-element'>
      <div>
        <%= f.label :quote %>
      </div>
      <%= f.text_field :quote %>
    </div>

    <div class='form-element'>
      <%= f.submit %>
    </div>
  <% end %>
</div>
