<div class='corgi'>
  <div class='large'>
    <%= image_tag @corgi.img_url, alt: "Corgi wisdom: #{@corgi.quote}" %>
  </div>
  <p class='quote'>
    <%= @corgi.quote %>
  </p>
  <div>
    <% @corgi.comments.each do |comment| %>
    <p class='comments'>
      <%= comment.text %>
      <p class='commenters'>
        -- <%= comment.commenter %>
          (posted at: <%= comment.created_at %>)
          <span><%=link_to '(delete)', corgi_comment_path(@corgi, comment), method: :delete%></span>
      </p>
    </p>

    <% end %>
    <%= link_to '(Add a new comment)', new_corgi_comment_path(@corgi) %>
    <%= link_to '(Remove corgi)', corgi_path(@corgi), method: :delete %>
  </div>
</div>
