<!DOCTYPE html>
<html>
<head>
  <title>Emotional Corgum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Bubblegum+Sans' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class='logo'>Emotional Corgum</div>
    <div class='tagline'>  A gathering of corgi emotions</div>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class='container'>
    <div class='contents'>
      <%= yield %>
    </div>

    <div class='sidebar'>
      <ul>
        <li>
          <%= link_to 'Home', emotions_path %>
        </li>
          <% @emotions.each do |emotion| %>
          <li>
            <%= link_to emotion.emotion_name, emotion_path(emotion) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <footer>
    Made by Melissa Miller
  </footer>

</body>
</html>
